@(tripRequest: TripRequest)(tripMatches: List[TripOffer])

<!DOCTYPE html>

<html>
    <head>
        <title>Matches</title>
    </head>
    <body>
    <table border=1>
    	<thead>
    		<tr>
	    		<th>From</th>
	    		<th>To</th>
	    		<th>Start time</th>
	    		<th>End time</th>
	    		<th>ApproxDistance</th>
	    		<th>AproxDuration</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>@tripRequest.getOriginAddress()</td>
    			<td>@tripRequest.getDestinationAddress()</td>
    			<td>@tripRequest.getStartTimeWindow()</td>
    			<td>@tripRequest.getEndTimeWindow()</td>
    			<td>@((tripRequest.getMetaData.getApproximateDirectionsDistance()/100)/10.0) km</td>
    			<td>@((tripRequest.getMetaData.getApproximateDuration()/360)/10.0) hour</td>
    		</tr>
    	</body>
    </table>
    
    <h2>@tripMatches.size() matches</h2>
    
    <table border=1>
    	<thead>
    		<tr>
    			<th>Id</th>
	    		<th>From</th>
	    		<th>To</th>
	    		<th>Start time</th>
	    		<th>End time</th>
	    		<th>ApproxDistance</th>
	    		<th>AproxDuration</th>
	    		<th>Distance</th>
	    		<th>Duration</th>
    		</tr>
    	</thead>
    	<tbody>
	    		@for(m <- tripMatches) {
	    		<tr>
				    <td>@m.getId()</td>
				    <td>@m.getOriginAddress()</td>
	    			<td>@m.getDestinationAddress()</td>
	    			<td>@m.getStartTimeWindow()</td>
	    			<td>@m.getEndTimeWindow()</td>
	    			<td>@((m.getMetaData().getApproximateDirectionsDistance()/100)/10.0) km</td>
	    			<td>@((m.getMetaData().getApproximateDuration()/360)/10.0) hours</td>
	    			<td>@((m.getMetaData().getDirectionsDistance()/100)/10.0) km</td>
	    			<td>@((m.getMetaData().getCalculatedDuration()/360)/10.0) hours</td>
	    		</tr>
				}
    	</tbody>
    </table>
    </body>
</html>
