@(tripRequest: TripRequest)(tripMatches: List[TripMatch])

<!DOCTYPE html>

<html>
    <head>
        <title>Matches</title>
    </head>
    <body>
    <table border=1>
    	<thead>
    		<tr>
	    		<th>From</th>
	    		<th>To</th>
	    		<th>Start time</th>
	    		<th>End time</th>
	    		<th>ApproxDistance</th>
	    		<th>AproxDuration</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>@tripRequest.getOriginAddress()<br/>@tripRequest.getOriginLat(), @tripRequest.getOriginLong()</td>
    			<td>@tripRequest.getDestinationAddress()<br/>@tripRequest.getDestinationLat(), @tripRequest.getDestinationLong()</td>
    			<td>@tripRequest.getStartTimeWindow()</td>
    			<td>@tripRequest.getEndTimeWindow()</td>
    			<td>@((tripRequest.getMetaData.getApproximateDirectionsDistance()/100)/10.0) km</td>
    			<td>@((tripRequest.getMetaData.getApproximateDuration()/360)/10.0) hour</td>
    		</tr>
    	</body>
    </table>
    
    <h2>@tripMatches.size() matches</h2>
    
    <table border=1>
    	<thead>
    		<tr>
    			<th>Id</th>
	    		<th>From</th>
	    		<th>To</th>
	    		<th>Start time</th>
	    		<th>End time</th>
	    		<th>ApproxDistance</th>
	    		<th>ApproxDuration</th>
	    		<th>Bounds</th>
    		</tr>
    	</thead>
    	<tbody>
	    		@for(m <- tripMatches) {
	    		<tr>
				    <td>@m.getTripOffer().getId()</td>
				    <td>@m.getTripOffer().getOriginAddress()<br/>@m.getTripOffer().getOriginLong(), @m.getTripOffer().getOriginLat()</td>
	    			<td>@m.getTripOffer().getDestinationAddress()<br/>@m.getTripOffer().getDestinationLong(), @m.getTripOffer().getDestinationLat()</td>
	    			<td>@m.getTripOffer().getStartTimeWindow()</td>
	    			<td>@m.getTripOffer().getEndTimeWindow()</td>
	    			<td>@((m.getTripOffer().getMetaData().getApproximateDirectionsDistance()/100)/10.0) km</td>
	    			<td>@((m.getTripOffer().getMetaData().getApproximateDuration()/360)/10.0) hours</td>
	    			<td>@m.getTripOffer().getNorthWestBounds().getLatLongString() <br /> @m.getTripOffer.getSouthEastBounds.getLatLongString </td>
	    		</tr>
				}
    	</tbody>
    </table>
    </body>
</html>
